# HTTP Server WebSocket support
CONFIG_HTTPD_WS_SUPPORT=y
CONFIG_HTTPD_MAX_REQ_HDR_LEN=2048
CONFIG_HTTPD_MAX_URI_LEN=1024

# mDNS
CONFIG_MDNS_MAX_SERVICES=10

# LittleFS
CONFIG_LITTLEFS_MAX_PARTITIONS=3

# Main task stack
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192
CONFIG_PTHREAD_TASK_STACK_SIZE_DEFAULT=4096

# PSRAM for S3
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y

# DSP library
CONFIG_DSP_MAX_FFT_SIZE_4096=y

# Compiler
CONFIG_COMPILER_OPTIMIZATION_PERF=y

# Partition table
CONFIG_PARTITION_TABLE_CUSTOM=y

# CONFIG_FATFS_LFN_NONE is not set
# CONFIG_FATFS_LFN_HEAP is not set
CONFIG_FATFS_LFN_STACK=y